@define-color foreground #B3B1AD;
@define-color foreground-inactive #7A7874;
@define-color background #0A0E14;
@define-color accent #FFB454;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
    min-height: 28px;
}

/* ---------------- Workspaces ---------------- */

#workspaces button {
    color: @foreground-inactive;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0 0.45em;
    transition: color 150ms;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button:hover {
    color: @foreground;
    background: transparent;
}

/* ---------------- Clock ---------------- */

#clock {
    color: @accent;
    padding: 0 1em;
}

/* ---------------- Left Modules Padding ---------------- */

#custom-weather {
    padding-left: 1em;
    padding-right: 1em;
    color: #39BAE6; /* Clean Ayu sky blue color */
}

/* ---------------- Right Modules Padding ---------------- */

#pulseaudio,
#battery,
#idle_inhibitor,
#network,
#bluetooth,
#custom-notifications,
#tray {
    padding-right: 1em;
}

/* ---------------- Battery Colors ---------------- */

#battery {
    color: @foreground;
}

#battery.charging,
#battery.plugged {
    color: #AAD94C;
}

#battery.warning {
    color: #FFB454;
}

#battery.critical {
    color: #F07178;
}

#battery.full {
    color: #AAD94C;
}

/* ---------------- Tooltips ---------------- */

tooltip {
    background: @background;
    border: 1px solid #222;
}

tooltip label {
    color: @foreground;
}
