@define-color foreground #B3B1AD;
@define-color foreground-inactive #7A7874;
@define-color background #0A0E14;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
    min-height: 30px;
}

#workspaces button {
    color: @foreground-inactive;
    padding: 0 0.45em;
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button:hover {
    color: @foreground;
    background: transparent;
}

#wireplumber {
    padding-left: 1em;
}

#clock {
    color: #FFB454;
}

#battery,
#idle_inhibitor,
#network,
#bluetooth,
#tray,
#mpris {
    padding-right: 1em;
}
